<section class="panel panel-default">
  <div class="panel-body">
    <h4>Upload</h4>
    <p>Upload songs to be used with DJ here. After the upload is done, the files will be processed and optimised by our system.</p>
  </div>
</section>
<div class="alert alert-danger" ng-hide="uploader.isHTML5">
  <p>
    <fa name="warning"></fa> The uploader requires an HTML5 compatible browser. We wonder how you were able to even log in on Control.</p>
</div>
<section class="panel panel-default dj-uploader">
  <div class="panel-body">
    <div class="upload-progress-indicator">
      <p class="bar-label">Total progress</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{uploader.progress}}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': uploader.progress + '%' }">
          <span ng-show="uploader.progress">{{uploader.progress}}%</span>
        </div>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-success btn-sm" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
            <fa name="upload"></fa> Upload all
          </button>
        <button type="button" class="btn btn-warning btn-sm" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
            <fa name="ban"></fa> Cancel all
          </button>
        <button type="button" class="btn btn-danger btn-sm" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
            <fa name="trash"></fa> Remove all
          </button>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="drag-zone" ng-if="uploader.isHTML5" nv-file-drop nv-file-over uploader="uploader">
      <p class="main-instruction">Drop your files here</p>
      <p class="or-select-files">or</p>
      <input type="file" nv-file-select uploader="uploader" multiple>
    </div>
    <h4 class="queue-header" ng-show="uploader.queue.length">Upload queue</h4>
  </div>
  <ul class="list-group">
    <li class="list-group-item upload-queue-item" ng-repeat="item in uploader.queue">
      <h5 class="pull-left">{{ item.file.name }} ({{ item.file.size/1024/1024|number:2 }} MB)
        <fa name="check" ng-show="item.isSuccess"></fa>
        <fa name="ban" ng-show="item.isCancel"></fa>
        <fa name="exclamation" ng-show="item.isError"></fa>
        <fa name="spinner" spin ng-show="item.isUploading"></fa>
      </h5>
      <div class="pull-right">
        <button type="button" class="btn btn-success btn-sm" ng-click="item.upload()" ng-hide="item.isReady || item.isUploading || item.isSuccess">
          <fa name="upload"></fa> Upload
        </button>
        <button type="button" class="btn btn-warning btn-sm" ng-click="item.cancel()" ng-hide="!item.isUploading">
          <fa name="ban"></fa> Cancel
        </button>
        <button ng-if="!item.isSuccess" type="button" class="btn btn-danger btn-sm" ng-click="item.remove()">
          <fa name="trash"></fa> Remove from queue
        </button>
        <button ng-if="item.isSuccess" type="button" class="btn btn-success btn-sm" ng-click="item.remove()">
          <fa name="check"></fa> Dismiss
        </button>
      </div>
      <div class="clearfix"></div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{item.progress}}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': item.progress + '%' }">
          <span ng-show="item.progress">{{item.progress}}%</span>
        </div>
      </div>
    </li>
  </ul>
</section>
