.btn-full {
    display: block;
    width: 80%;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
}

p.song-title {
    font-weight: bold;
}

p.starting {
    text-align: center;
    margin-top: 15px;
}

i.starting {
    color: green;
}