<section class="panel panel-default version-card">
<div class="panel-body">
<div class="row row-equal-height">
    <div class="col-sm-4"><div>
        <h2 class="font-diavlo cast-logo">Cast</h2>
    </div></div>
    <div class="col-sm-8"><div>
        <h2>Cast</h2>
        <p class="description">Cast is an open source audio streaming server made to be hackable, compatible and innovative.</p>
        <p>
        Version: {{ctrl.castVersion}}<br>
        Revision: {{ctrl.castRevision}}<br>
        <span ng-show="ctrl.castState === ctrl.castStates.NO_UPDATE" class="text-success">
            <fa name="check-circle"></fa> Cast is up-to-date.
        </span>
        <span ng-show="ctrl.castState === ctrl.castStates.CHECKING" class="text-muted">
            Checking for updates…
        </span>
        <span ng-show="ctrl.castState === ctrl.castStates.UPDATE_AVAILABLE" class="text-warning">
            A new version is available!
            <button ng-click="ctrl.updateCast()" class="btn btn-link">Update</button>
        </span>
        <span ng-show="ctrl.castState === ctrl.castStates.UPDATING" class="text-info">
            <fa name="cog" spin></fa> Updating… Cast will automatically restart after the update.
        </span>
        <span ng-show="ctrl.castState === ctrl.castStates.UPDATE_ERROR" class="text-danger">
            <fa name="warning"></fa> Could not update Cast.
            <button ng-click="ctrl.updateCast()" class="btn btn-link">Try again</button>
        </span>
        <span ng-show="ctrl.castState === ctrl.castStates.CHECK_ERROR" class="text-warning">
            <fa name="warning"></fa> Could not check for updates.
            <button ng-click="ctrl.checkForCastUpdates()" class="btn btn-link">Try again</button>
        </span>
        <span ng-show="ctrl.castState === ctrl.castStates.NO_UPDATE">
            &nbsp;| <i class="far fa-people-carry" bs-tooltip data-title="This moves your Cast instance to another server. This can take a few minutes."></i><button ng-click="ctrl.relocateCast()" class="btn btn-link"> Relocate</button>
        </span>
        </p>
        <p class="project-links">
            <a href="https://github.com/Innovate-Technologies/Cast/blob/master/LICENSE">License</a> |
            <a href="https://github.com/Innovate-Technologies/Cast">Repository</a> |
            <a href="https://github.com/Innovate-Technologies/Cast/graphs/contributors">Authors</a> |
            <a href="https://cast.readme.io/docs">Documentation</a>
        </p>
    </div></div>
</div>
</div>
</section>
<section class="panel panel-default">
    <div class="panel-body">
        <h4>Options</h4>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="col-sm-6">
                <h4 class="list-group-item-heading"><label for="branch" class="control-label">Branch</label></h4>
                <p>Using Cast in beta mode will enable all lastest features. The stable branch will be older but well tested, thanks to the people who use the beta branch.</p>
            </div>
            <div class="col-sm-6">
                <div class="btn-group btn-group-justified" role="group" aria-label="branh" ng-model="ctrl.castBranch" bs-radio-group>
                    <label class="btn btn-default"><input type="radio" class="btn btn-default" value="stable">Stable</label>
                    <label class="btn btn-default"><input type="radio" class="btn btn-default" value="beta">Beta</label>
                </div>
            </div>
            <div class="clearfix"></div>
        </li>
    </ul>
</section>
